/**Desktop Query*/
@media only screen and (min-width: 768px) {
    
/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 202px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}
.padding-cho {
    padding-top: 11rem;
}
/* IMAGE BOX */
.product-img{
    width:100%;
    height:350px; /* fixed product image size */
    overflow:hidden;
}
.slide {
    min-width: 100%;
    position: relative;
    height: 78vh;
}

}

/*Tablet Query*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 202px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}
.padding-cho {
    padding-top: 11rem;
}
.slide {
    min-width: 100%;
    position: relative;
    height: 78vh;
}
/* IMAGE BOX */
.product-img{
    width:100%;
    height:350px; /* fixed product image size */
    overflow:hidden;
}
.category-container{
        grid-template-columns:repeat(2,1fr);
    }
}

/*Mobile Query*/
@media only screen and (max-width: 480px) {
   /* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}
.padding-cho {
    padding-top: 5rem;
}
/* IMAGE BOX */
.product-img{
    width:100%;
    height:250px; /* fixed product image size */
    overflow:hidden;
}
.category-container{
        grid-template-columns:1fr;
    }

    .category-card img{
        height:200px;
    }
}